docker-data/
local/
расходники/

.DS_Store
.idea/
.vscode/
*.code-workspace
*.log

back.html
cookies.txt
dispatcher.json
docs.html
front.html
page-headers.txt
page.html
srcs.html
test-package.json
presentation_assets/
Презентация_ДП_Гастрономия.pptx
Презентация_ДП_Гастрономия_без_кругов.pptx
Презентация_ДП_Гастрономия_с_кругами.pptx

Документация/back/.venv/
Документация/back/venv/
Документация/back/restaurant.db

Документация/front/node_modules/
Документация/front/dist/
